// PIPELINE CONFIGURATION =====================================================

// Pipeline Information ------------------------------------------------------- 

manifest {
  author      = '...'
  name        = '...'
  description = '...'
  homePage    = 'https://github.com/comp-med/nf-...'
  version = '0.0.1'
}

// Resume pipeline from last successful process
resume = true

// Default workflow parameters ------------------------------------------------
params {
  help    = false

  input = null
  outDir = null

  rApptainerPath = null
  apptainerBind  = null
}

// Default Configuration ------------------------------------------------------

includeConfig 'conf/base.config'

// Logging & Extras -----------------------------------------------------------

// Produce a workflow diagram  
// More info: https://www.nextflow.io/docs/latest/tracing.html#dag-visualisation
dag {
  enabled   = true
  overwrite = true
  file      = 'runInfo/dag.svg'
}

// Output resource and runtime reports for a workflow run
report {
  enabled   = true
  overwrite = true
  file      = 'runInfo/report.html'
}

timeline {
  enabled   = true
  overwrite = true
  file      = 'runInfo/timeline.html'
}

trace {
  enabled   = true
  overwrite = true
  file      = 'runInfo/trace.txt'
}

// Profiles -------------------------------------------------------------------

// Enable various profiles depending on compute infrastructure to be run on
// More info: https://www.nextflow.io/docs/latest/config.html#config-profiles
profiles {
  standard {
    process.executor    = 'local'
    conda.enabled       = true
    conda.useMicromamba = true
  }
  schpc {
    apptainer.enabled    = true
    apptainer.autoMounts = true
    conda.enabled        = true
    conda.useMicromamba  = true
  }
  debug {
    dumpHashes                                   = true
    process.beforeScript                         = 'echo $HOSTNAME'
    cleanup                                      = false
    nextflow.enable.configProcessNamesValidation = true
  }
}
