// Default Configuration ------------------------------------------------------


// from here: https://github.com/nf-core/rnaseq/blob/3.26.0/conf/base.config
process {
  cpus   = { 1      * task.attempt }
  memory = { 6.GB   * task.attempt }
  time   = { 4.h    * task.attempt }

  errorStrategy = { task.exitStatus in ((130..145) + 104 + (175..177)) ? 'retry' : 'finish' }
  maxRetries    = 3
  maxErrors     = '-1'

  // Process-specific configuration -------------------------------------------
  // withName: PROCESS_NAME {
  // ...
  // }
  withLabel: rApptainerProcess {
    container     = "file://$params.rApptainerPath"
  }
}
